:root {
  --pkst-input-placeholder: var(--pkst-text-disabled, #979aa8);
  --pkst-input-text: var(--pkst-text-black, #23242e);
  --pkst-input-bg: var(--pkst-bg-white, #ffffff);
  --pkst-input-border-color: var(--pkst-border-color-black, #23242e);
  --pkst-input-border-width: var(--pkst-border-width-xs, 0.0625rem);
  --pkst-input-sm-pt: var(--pkst-spacing-xs, 0.625rem);
  --pkst-input-sm-pr: var(--pkst-spacing-md, 1rem);
  --pkst-input-sm-pb: var(--pkst-spacing-xs, 0.625rem);
  --pkst-input-sm-pl: var(--pkst-spacing-md, 1rem);
  --pkst-input-sm-border-radius: var(--pkst-border-radius-lg, 1.5rem);
  --pkst-input-md-pt: var(--pkst-spacing-xs, 0.625rem);
  --pkst-input-md-pr: var(--pkst-spacing-md, 1rem);
  --pkst-input-md-pb: var(--pkst-spacing-xs, 0.625rem);
  --pkst-input-md-pl: var(--pkst-spacing-md, 1rem);
  --pkst-input-md-border-radius: var(--pkst-border-radius-lg, 1.5rem);
  --pkst-input-hover-bg: var(--pkst-bg-gray-100, #f8f9fc);
  --pkst-input-hover-border: var(--pkst-border-color-pink-dark-500, #e0005a);
  --pkst-input-focus-border: var(--pkst-border-color-pink-dark-500, #e0005a);
  --pkst-input-focus-outline-color: var(--pkst-border-color-pink-dark-500, #e0005a);
  --pkst-input-focus-outline-width: var(--pkst-border-width-sm, 0.125rem);
  --pkst-input-error-text: var(--pkst-text-error, #db0000);
  --pkst-input-error-icon: var(--pkst-icon-color-error, #db0000);
  --pkst-input-error-border: var(--pkst-border-color-error, #db0000);
  --pkst-input-disabled-text: var(--pkst-text-disabled, #979aa8);
  --pkst-input-disabled-icon: var(--pkst-icon-color-disabled, #979aa8);
  --pkst-input-disabled-bg: var(--pkst-bg-gray-100, #f8f9fc);
  --pkst-input-disabled-border: var(--pkst-border-color-disabled, #979aa8);
  --pkst-input-btn-pr-icon: var(--pkst-spacing-2xl, 3rem);
  --pkst-input-btn-icon-right: var(--pkst-spacing-md, 1rem);
  --pkst-input-btn-icon: var(--pkst-border-color-black, #23242e);
}
