:root {
  --pkst-message-info-text: var(--pkst-icon-color-information, #00aeef);
  --pkst-message-info-icon: var(--pkst-icon-color-information, #00aeef);
  --pkst-message-info-border: var(--pkst-border-color-information, #00aeef);
  --pkst-message-info-bg: var(--pkst-bg-information, #edfaff);
  --pkst-message-success-text: var(--pkst-text-success, #468726);
  --pkst-message-success-icon: var(--pkst-icon-color-success, #468726);
  --pkst-message-success-border: var(--pkst-border-color-success, #468726);
  --pkst-message-success-bg: var(--pkst-bg-success, #f3faef);
  --pkst-message-warning-text: var(--pkst-text-warning, #ffc60b);
  --pkst-message-warning-icon: var(--pkst-icon-color-warning, #ffc60b);
  --pkst-message-warning-border: var(--pkst-border-color-warning, #ffc60b);
  --pkst-message-warning-bg: var(--pkst-bg-warning, #fffae9);
  --pkst-message-error-text: var(--pkst-text-error, #db0000);
  --pkst-message-error-icon: var(--pkst-icon-color-error, #db0000);
  --pkst-message-error-border: var(--pkst-border-color-error, #db0000);
  --pkst-message-error-bg: var(--pkst-bg-error, #ffeded);
  --pkst-message-inline-pl: var(--pkst-spacing-md, 1rem);
  --pkst-message-inline-gap: var(--pkst-spacing-3xs, 0.25rem);
  --pkst-message-inline-icon-size: var(--pkst-icon-size-sm, 1rem);
  --pkst-message-box-text: var(--pkst-text-black, #23242e);
  --pkst-message-box-pt: var(--pkst-spacing-md, 1rem);
  --pkst-message-box-pr: var(--pkst-spacing-md, 1rem);
  --pkst-message-box-pb: var(--pkst-spacing-md, 1rem);
  --pkst-message-box-pl: var(--pkst-spacing-md, 1rem);
  --pkst-message-box-gap: var(--pkst-spacing-2xs, 0.5rem);
  --pkst-message-box-border-width: var(--pkst-border-width-xs, 0.0625rem);
  --pkst-message-box-border-radius: var(--pkst-border-radius-sm, 0.75rem);
  --pkst-message-box-icon-size: var(--pkst-icon-size-lg, 1.5rem);
}
