:root {
  --pkst-textarea-placeholder: var(--pkst-text-disabled, #979aa8);
  --pkst-textarea-counter: var(--pkst-text-gray, #5a5c6b);
  --pkst-textarea-text: var(--pkst-text-black, #23242e);
  --pkst-textarea-icon: var(--pkst-icon-color-black, #23242e);
  --pkst-textarea-bg: var(--pkst-bg-white, #ffffff);
  --pkst-textarea-border-color: var(--pkst-border-color-black, #23242e);
  --pkst-textarea-border-width: var(--pkst-border-width-xs, 0.0625rem);
  --pkst-textarea-border-radius: var(--pkst-border-radius-sm, 0.75rem);
  --pkst-textarea-sm-pt: var(--pkst-spacing-xs, 0.625rem);
  --pkst-textarea-sm-pr: var(--pkst-spacing-md, 1rem);
  --pkst-textarea-sm-pb: var(--pkst-spacing-xs, 0.625rem);
  --pkst-textarea-sm-pl: var(--pkst-spacing-md, 1rem);
  --pkst-textarea-sm-counter-pb: var(--pkst-spacing-xl, 2rem);
  --pkst-textarea-sm-counter-mb: var(--pkst-spacing-xs, 0.625rem);
  --pkst-textarea-sm-copy-pr: var(--pkst-spacing-2xl, 3rem);
  --pkst-textarea-sm-copy-mt: var(--pkst-spacing-xs, 0.625rem);
  --pkst-textarea-md-pt: var(--pkst-spacing-xs, 0.625rem);
  --pkst-textarea-md-pr: var(--pkst-spacing-md, 1rem);
  --pkst-textarea-md-pb: var(--pkst-spacing-xs, 0.625rem);
  --pkst-textarea-md-pl: var(--pkst-spacing-md, 1rem);
  --pkst-textarea-md-counter-pb: var(--pkst-spacing-xl, 2rem);
  --pkst-textarea-md-counter-mb: var(--pkst-spacing-xl, 2rem);
  --pkst-textarea-md-copy-pr: var(--pkst-spacing-2xl, 3rem);
  --pkst-textarea-md-copy-mt: var(--pkst-spacing-xs, 0.625rem);
  --pkst-textarea-hover-bg-color: var(--pkst-bg-gray-100, #f8f9fc);
  --pkst-textarea-hover-border-color: var(--pkst-border-color-pink-dark-500, #e0005a);
  --pkst-textarea-focus-border: var(--pkst-border-color-pink-dark-500, #e0005a);
  --pkst-textarea-focus-outline-color: var(--pkst-border-color-pink-dark-500, #e0005a);
  --pkst-textarea-focus-outline-width: var(--pkst-border-width-sm, 0.125rem);
  --pkst-textarea-error-text: var(--pkst-color-semantic-red, #db0000);
  --pkst-textarea-error-counter: var(--pkst-color-semantic-red, #db0000);
  --pkst-textarea-error-icon: var(--pkst-color-semantic-red, #db0000);
  --pkst-textarea-error-border-color: var(--pkst-color-semantic-red, #db0000);
  --pkst-textarea-disabled-text: var(--pkst-text-disabled, #979aa8);
  --pkst-textarea-disabled-counter: var(--pkst-text-disabled, #979aa8);
  --pkst-textarea-disabled-icon: var(--pkst-icon-color-disabled, #979aa8);
  --pkst-textarea-disabled-bg: var(--pkst-bg-gray-100, #f8f9fc);
  --pkst-textarea-disabled-border: var(--pkst-border-color-disabled, #979aa8);
}
